# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environment / dependencies
.env
.venv/
venv/
ENV/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android 4 Edge AI specific ignores
apks/
bin/
config/config.json
